[Unit]
Description=Flow and Packet Marking Service (%I)
Documentation=https://www.scitags.org
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/flowd --fg -c /etc/flowd/flowd-%i.cfg
ExecReload=/bin/kill -USR1 $MAINPID
KillMode=process
Restart=always
RestartSec=42s

[Install]
WantedBy=multi-user.target
