PLUGIN='netstat'
BACKEND='udp_firefly'
# NETSTAT_EXPERIMENT='<exp>'
# NETSTAT_ACTIVITY='<act>'
# NETSTAT_INTERNAL_NETWORKS=('192.168.0.0/16', )
FLOW_MAP_API='<url>'
# IP_DISCOVERY_ENABLED = False
# UDP_FIREFLY_DST='<host>'
# UDP_FIREFLY_IP4_SRC=''
# UDP_FIREFLY_IP6_SRC=''
